.header {
  width: 100%;
  height: 3.9rem;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.3rem;

  background-color: #212123;
  z-index: 100;
  transition: 0.5s;

  .header__left-elements {
    display: flex;
    align-items: center;
    .header__search-form {
      padding-left: 240px;
      .search-icon {
        position: absolute;
        padding: 10px;
        min-width: 30px;
        font-size: 21px;
        color: #878a93;
      }
      input[type="text"] {
        width: 341px;
        padding: 9px;
        padding-left: 33px;
        background-color: #363638;
        border: none;
        border-radius: 4px;
        color: #fff;
      }
      ::placeholder {
        font-size: 0.8rem;
        padding-left: 7px;
      }
    }
  }

  .header__toggle {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .header__right-elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .header__icons {
      padding: 0 20px;

      color: #9a9a9a;

      i {
        padding: 4px 10px;
        font-size: 1.6rem;
        position: relative;
        .header__badge {
          padding: 3px 6px;
          top: 0px;
          left: 25px;
          font-size: 0.7rem;
          position: absolute;
          position: absolute;
          font-family: Helvetica, sans-serif;
        }
      }
    }
    .header__img {
      width: 39px;
      height: 39px;
      display: flex;
      border: solid 2px #808082;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 40px;
      }
    }
  }
}
