div.product-item {
  position: relative;
  height: 300px;
  text-align: center;
  color: #333;
  box-shadow: none !important;
  border-radius: 7px;
  border: solid 2px #28282a;
  transition: all 0.5s;
  &:hover {
    border: solid 2px #6a757b;
  }
}
div.product-item * {
  -webkit-box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
}
div.product-item img {
  max-width: 100%;
  height: 139px;
  width: 139px;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  top: -25px;
  display: block;
  z-index: 1;
  position: absolute;
}

div.product-item .product-img {
  margin: 0;
  height: 130px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 35px;
  position: relative;
  z-index: 1;
}
