@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #212123;
  position: relative;
  padding: 0 1rem;
  font-size: 0.9rem;
  transition: 0.5s;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}
*,
::before,
::after {
  box-sizing: border-box;
}
